{% extends 'base/base.html' %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">More info about {{ trainer.name }}</h1>
            <p></p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if trainer.profile_picture %}
                <img src="{{ trainer.profile_picture.url }}" class="card-img-top img-fluid mx-auto d-block small-img"
                    alt="{{ trainer.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm flex-md-row">
                    <div class="card-body">
                        <h5 class="card-title">{{ trainer.name }}</h5>
                        <p class="card-text">biography: {{ trainer.bio }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="{% url 'create_reservation' trainer.pk %}">
                                        Reserve personal training
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}