{% extends 'base/base.html' %}

{% block content %}


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if trainer.profile_picture %}
                <img src="{{ trainer.profile_picture.url }}" class="card-img-top img-fluid mx-auto d-block small-img"
                    alt="{{ trainer.name }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Reviews for {{ trainer.name }}</h2>
                        <ul class="list-unstyled"></ul>
                        <ul>
                            {% for review in reviews %}
                            <li class="mb-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-shrink-0">
                            <li>
                                <strong>{{ review.user.username }}</strong> rated <strong>{{ review.rating }}</strong>:
                                <p>{{ review.review_text }}</p>

                            </li>
                            {% endfor %}
                        </ul>
                        <div class="flex-grow-1 ms-3">
                        </div>
                    </div>
                </div>

                {% endblock %}